body {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#recommended {
  position: fixed;
  color: rgb(218, 218, 218);
  left: 220px;
  top: 20px;
  z-index: 3;
}

#title {
  position: fixed;
  width: 100%;
  height: 45px;
  color: rgb(207, 207, 207);
  font-family: Monoton;
  font-size: 40px;
  background-color: #111;
  z-index: 1;
}

td {
  border: 1px solid #cab3b3;
}

table {
  position: absolute;
  width: max-content;
  height: max-content;
  left: 225px;
  top: 50px;
  border-collapse: collapse;
}


#menuBar {
  color: rgb(165, 165, 165);
  height: 100%;
  width: fit-content;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.section {
  margin-bottom: 10px;
  background-color: rgb(32, 32, 32) !important;
}

.history-buttons {
  width: 43%;
}

.canvas-buttons {
  width: 95%;
}

input, .tools-image {
  height: 2.3em;
  border: none;
  margin: 8px 4px 4px 4px;
  resize: vertical;
  outline:none;
  font-weight: bold;
  cursor: pointer;
}

input[type="number"] {
  width: 6em;
  border-radius: 4px;
}


input[type="button"], input[type="submit"]{
  background-color: #4CAF50;
  border-radius: 4px;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: teal;
}

.reset-canvas, .confirmation {
  background-color: rgb(179, 67, 67)!important;
}

.tools-image {
  margin-top: -12px;
  height: 2.3em;
  border-radius: 8px;
}

.tools-image:hover, #pencil {
  background-color: #C0C04F;
}

#colorPicker {
  background-color: transparent;
  border-radius: 100%;
}